.works {
	display: none;

	@media screen and (min-width: 1200px) {
		display: block;
		padding-top: 0;
	}
}

.works__title {
	margin-bottom: 50px;
	text-align: center;
}

.works__list {
	display: flex;
	margin-left: -30px;
}

.works__item {
	flex-basis: calc(100% / 3 - 30px);
	margin-left: 30px;
}

.works__block {
	position: relative;
}

.works__text {
	position: absolute;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #2f303acc;
	width: 100%;
	min-height: 70px;
	transform: translateY(-100%);
	display: flex;
	align-items: center;
	justify-content: center;
}
